<!-- sidebar -->
<nav class="navbar">
</nav>

<nav class="sidebar ">
  <div class=""></div>
</nav>


<section class="section__home">
  <section class="section__router">
    <router-outlet></router-outlet>
  </section>


</section>
<footer class="footer">
  <ul>
    @for (item of routesItems; track item.label) {
      <li  [routerLink]="item.route">
        <i [ngClass]="item.class" style="font-size: 1rem; color: black;"></i>
      </li>
    } @empty {
      Empty list of users
    }
    
  </ul>
</footer>


