<section class="h-[150px] w-[100%] flex flex-col items-center justify-between flex-wrap pb-1 rounded-md">

    <div class="h-[40%] w-full pr-2 primary__color p-2 flex justify-center md:hidden items-center rounded-r-md">
        <form class="mx-auto w-[75%] rounded-full h-10 bg__body px-2 flex items-center justify-between absolute">
            <input type="text" placeholder=" "
              class="bg-transparent w-full mx-auto focus:outline-none pr-4 border-0 focus:ring-0" name="topic">
              <button class="cursor-pointer" type="submit">
                <i class="fa-solid fa-magnifying-glass text-xl opacity-70"></i>
              </button>
          </form>
    </div>

    <div class="h-[60%] md:h-full w-full md:flex items-center justify-center gap-2 primary__color px-4 pt-3 pb-2 rounded-l-md overflow-hidden">
        <section class="splide h-full w-full m-auto" aria-label="Basic Structure Example">
            <div class="splide__track h-full">
              <ul class="splide__list flex !flex-row m-auto h-full w-full">
                
                <li class="splide__slide rounded-sm my-auto h-full">
                    <img src="assets/images/user.avif" alt="" class="w-[0px] md:w-[120px] h-full my-auto rounded-sm">
                </li>
                <li class="splide__slide rounded-sm my-auto h-full">
                    <img src="assets/images/logo-blue.jpg" alt="" class="min-w-[70px] md:min-w-[120px] h-full rounded-sm">
                </li>
                <li class="splide__slide rounded-sm my-auto h-full">
                    <img src="assets/images/user.avif" alt="" class="min-w-[70px] md:min-w-[120px] h-full my-auto rounded-sm">
                </li>
                <li class="splide__slide rounded-sm my-auto h-full">
                    <img src="assets/images/logo-green.jpg" alt="" class="min-w-[70px] md:min-w-[120px] h-full rounded-sm">
                </li>
                <li class="splide__slide rounded-sm my-auto h-full">
                    <img src="assets/images/user.avif" alt="" class="min-w-[70px] md:min-w-[120px] h-full my-auto rounded-sm">
                </li>
                <li class="splide__slide rounded-sm my-auto h-full">
                    <img src="assets/images/logo-dark.jpg" alt="" class="min-w-[70px] md:min-w-[120px] h-full rounded-sm">
                </li>
                
                <li class="splide__slide rounded-sm my-auto h-full">
                    <img src="assets/images/user.avif" alt="" class="min-w-[70px] md:min-w-[120px] h-full my-auto rounded-sm">
                </li>
                <li class="splide__slide rounded-sm my-auto h-full">
                    <img src="assets/images/logo-blue.jpg" alt="" class="min-w-[70px] md:min-w-[120px] h-full rounded-sm">
                </li>
                <li class="splide__slide rounded-sm my-auto h-full">
                    <img src="assets/images/user.avif" alt="" class="min-w-[70px] md:min-w-[120px] h-full my-auto rounded-sm">
                </li>
                <li class="splide__slide rounded-sm my-auto h-full">
                    <img src="assets/images/logo-green.jpg" alt="" class="min-w-[70px] md:min-w-[120px] h-full rounded-sm">
                </li>
                <li class="splide__slide rounded-sm my-auto h-full">
                    <img src="assets/images/user.avif" alt="" class="min-w-[70px] md:min-w-[120px] h-full my-auto rounded-sm">
                </li>
                <li class="splide__slide rounded-sm my-auto h-full">
                    <img src="assets/images/logo-dark.jpg" alt="" class="min-w-[70px] md:min-w-[120px] h-full rounded-sm">
                </li>
                
                <li class="splide__slide rounded-sm my-auto h-full">
                    <img src="assets/images/user.avif" alt="" class="min-w-[70px] md:min-w-[120px] h-full my-auto rounded-sm">
                </li>
                <li class="splide__slide rounded-sm my-auto h-full">
                    <img src="assets/images/logo-blue.jpg" alt="" class="min-w-[70px] md:min-w-[120px] h-full rounded-sm">
                </li>
                <li class="splide__slide rounded-sm my-auto h-full">
                    <img src="assets/images/user.avif" alt="" class="min-w-[70px] md:min-w-[120px] h-full my-auto rounded-sm">
                </li>
                <li class="splide__slide rounded-sm my-auto h-full">
                    <img src="assets/images/logo-green.jpg" alt="" class="min-w-[70px] md:min-w-[120px] h-full rounded-sm">
                </li>
                <li class="splide__slide rounded-sm my-auto h-full">
                    <img src="assets/images/user.avif" alt="" class="min-w-[70px] md:min-w-[120px] h-full my-auto rounded-sm">
                </li>
                <li class="splide__slide rounded-sm my-auto h-full">
                    <img src="assets/images/logo-dark.jpg" alt="" class="min-w-[70px] md:min-w-[120px] h-full rounded-sm">
                </li>
              </ul>
            </div>
          </section>
    </div>
   
</section>
<div class="list_articles relative w-full mx-auto h-[70%] md:h-[83%] pb-0">
    <ul class="w-full mx-auto list-none h-full overflow-auto overflow-y-auto relative lg:pr-1">
       <app-articleblog></app-articleblog>
    </ul>
</div>
