<li class="h-auto primary__color py-2 mb-1">
    <div class="h-auto px-2 md:px-0 flex flex-col md:flex-row items-center justify-center gap-4">

        <figure class="h-full w-full md:w-[40%] max-h-[300px] overflow-hidden p-1">
           <img src="../../../../assets/images/user.avif" alt="" class="md:object-cover h-4/5 w-[100%] mx-auto">
       </figure>

       <div class="content_texts w-full h-full min-h-full md:w-[70%] relative flex flex-col items-start justify-evenly gap-2">
           <h4 class="name_user_article font-semibold h-[10%]">
               Jon Doe
           </h4>
           <div class="text__default paragraph h-[70%] py-2 pl-2 min-h-[150px]">
               <p>
                   Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque incidunt esse ratione facilis, totam earum
                   Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque incidunt esse ratione facilis, totam earum
               </p>
           </div>
           <div class="reactions w-[100%] sm:w-[70%] lg:w-[100%] xl:w-[60%] grid grid-cols-3 place-items-start gap-1 relative left-0 bottom-0 h-8">
               <div class="secondary__color text__default-two px-2 rounded-full">
                   <i class="fa-regular fa-heart text__default-two"></i>
                   <span class="text__default-two">
                    150
                   </span>
               </div>
               <div class="secondary__color text__default-two px-2 rounded-full">
                   <i class="fa-solid fa-heart-crack text__default-two"></i>
                   <span class="text__default-two">
                    150
                   </span>
               </div>
               <div class="secondary__color text__default-two px-2 rounded-full">
                   <i class="fa-solid fa-share text__default-two"></i>
                   <span class="text__default-two">
                    150
                   </span>
               </div>
           </div>

       </div>
    </div>
</li>
<li class="h-auto primary__color py-2 mb-1">
    <div class="h-auto px-2 md:px-0 flex flex-col md:flex-row items-center justify-center gap-4">

        <figure class="h-full w-full md:w-[40%] max-h-[300px] overflow-hidden p-1">
           <img src="../../../../assets/images/user.avif" alt="" class="md:object-cover h-4/5 w-[100%] mx-auto">
       </figure>

       <div class="content_texts w-full h-full min-h-full md:w-[70%] relative flex flex-col items-start justify-evenly gap-2">
           <h4 class="name_user_article font-semibold h-[10%]">
               Jon Doe
           </h4>
           <div class="text__default paragraph h-[70%] py-2 pl-2 min-h-[150px]">
               <p>
                   Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque incidunt esse ratione facilis, totam earum
                   Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque incidunt esse ratione facilis, totam earum
               </p>
           </div>
           <div class="reactions w-[100%] sm:w-[70%] lg:w-[100%] xl:w-[60%] grid grid-cols-3 place-items-start gap-1 relative left-0 bottom-0 h-8">
               <div class="secondary__color text__default-two px-2 rounded-full">
                   <i class="fa-regular fa-heart text__default-two"></i>
                   <span class="text__default-two">
                    150
                   </span>
               </div>
               <div class="secondary__color text__default-two px-2 rounded-full">
                   <i class="fa-solid fa-heart-crack text__default-two"></i>
                   <span class="text__default-two">
                    150
                   </span>
               </div>
               <div class="secondary__color text__default-two px-2 rounded-full">
                   <i class="fa-solid fa-share text__default-two"></i>
                   <span class="text__default-two">
                    150
                   </span>
               </div>
           </div>

       </div>
    </div>
</li>
<li class="h-auto primary__color py-2 mb-1">
    <div class="h-auto px-2 md:px-0 flex flex-col md:flex-row items-center justify-center gap-4">

        <figure class="h-full w-full md:w-[40%] max-h-[300px] overflow-hidden p-1">
           <img src="../../../../assets/images/user.avif" alt="" class="md:object-cover h-4/5 w-[100%] mx-auto">
       </figure>

       <div class="content_texts w-full h-full min-h-full md:w-[70%] relative flex flex-col items-start justify-evenly gap-2">
           <h4 class="name_user_article font-semibold h-[10%]">
               Jon Doe
           </h4>
           <div class="text__default paragraph h-[70%] py-2 pl-2 min-h-[150px]">
               <p>
                   Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque incidunt esse ratione facilis, totam earum
                   Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque incidunt esse ratione facilis, totam earum
               </p>
           </div>
           <div class="reactions w-[100%] sm:w-[70%] lg:w-[100%] xl:w-[60%] grid grid-cols-3 place-items-start gap-1 relative left-0 bottom-0 h-8">
               <div class="secondary__color text__default-two px-2 rounded-full">
                   <i class="fa-regular fa-heart text__default-two"></i>
                   <span class="text__default-two">
                    150
                   </span>
               </div>
               <div class="secondary__color text__default-two px-2 rounded-full">
                   <i class="fa-solid fa-heart-crack text__default-two"></i>
                   <span class="text__default-two">
                    150
                   </span>
               </div>
               <div class="secondary__color text__default-two px-2 rounded-full">
                   <i class="fa-solid fa-share text__default-two"></i>
                   <span class="text__default-two">
                    150
                   </span>
               </div>
           </div>

       </div>
    </div>
</li>
<li class="h-auto primary__color py-2 mb-1">
    <div class="h-auto px-2 md:px-0 flex flex-col md:flex-row items-center justify-center gap-4">

        <figure class="h-full w-full md:w-[40%] max-h-[300px] overflow-hidden p-1">
           <img src="../../../../assets/images/user.avif" alt="" class="md:object-cover h-4/5 w-[100%] mx-auto">
       </figure>

       <div class="content_texts w-full h-full min-h-full md:w-[70%] relative flex flex-col items-start justify-evenly gap-2">
           <h4 class="name_user_article font-semibold h-[10%]">
               Jon Doe
           </h4>
           <div class="text__default paragraph h-[70%] py-2 pl-2 min-h-[150px]">
               <p>
                   Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque incidunt esse ratione facilis, totam earum
                   Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque incidunt esse ratione facilis, totam earum
               </p>
           </div>
           <div class="reactions w-[100%] sm:w-[70%] lg:w-[100%] xl:w-[60%] grid grid-cols-3 place-items-start gap-1 relative left-0 bottom-0 h-8">
               <div class="secondary__color text__default-two px-2 rounded-full">
                   <i class="fa-regular fa-heart text__default-two"></i>
                   <span class="text__default-two">
                    150
                   </span>
               </div>
               <div class="secondary__color text__default-two px-2 rounded-full">
                   <i class="fa-solid fa-heart-crack text__default-two"></i>
                   <span class="text__default-two">
                    150
                   </span>
               </div>
               <div class="secondary__color text__default-two px-2 rounded-full">
                   <i class="fa-solid fa-share text__default-two"></i>
                   <span class="text__default-two">
                    150
                   </span>
               </div>
           </div>

       </div>
    </div>
</li>
<!-- <li class="h-auto primary__color py-2 mb-1">
    <div class="h-auto px-2 md:px-0 flex flex-col md:flex-row items-center justify-center gap-4">

       <figure class="h-full w-full md:w-[40%] max-h-[300px] overflow-hidden p-1">
           <img src="../../../../assets/images/yeni.jpeg" alt="" class="object-cover h-full w-[100%] mx-auto">
       </figure>

       <div class="content_texts w-full h-full min-h-full md:w-[70%] relative flex flex-col items-start justify-evenly gap-2">
        <h4 class="name_user_article font-semibold h-[10%]">
               Euclides Perez
           </h4>
           <div class="text__default paragraph h-[70%] py-2 pl-2 min-h-[150px]">
            <p>
                  
                   Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque incidunt esse ratione facilis, totam earum
                   Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque incidunt esse ratione facilis, totam earum
             
               </p>
           </div>
           <div class="reactions w-[100%] sm:w-[70%] lg:w-[100%] xl:w-[60%] grid grid-cols-3 place-items-start gap-1 relative left-0 bottom-0 h-8">
            <div class="secondary__color text__default-two px-2 rounded-full">
                   <i class="fa-regular fa-heart text__default-two"></i>
                   <span class="text__default-two">
                    750
                   </span>
               </div>
               <div class="secondary__color text__default-two px-2 rounded-full">
                   <i class="fa-solid fa-heart-crack text__default-two"></i>
                   <span class="text__default-two">
                    50
                   </span>
               </div>
               <div class="secondary__color text__default-two px-2 rounded-full">
                   <i class="fa-solid fa-share text__default-two"></i>
                   <span class="text__default-two">
                    150
                   </span>
               </div>
           </div>

       </div>
    </div>
</li> -->