<nav class="navbar__content border__theme border-b border-1 h-[60px] w-full overflow-hidden flex justify-between relative items-center px-2 py-1 sm:justify-end sm:bg-[#0b0e68]">
    <div class="logo flex justify-center items-center gap-2 h-4/5 sm:hidden">
      <figure class=" w-8 h-8">
        <img src="assets/images/logo.png" alt="" class="w-full h-full shadow-md shadow-[#0b0e68]">
      </figure>
      <h1 class="text-xl title__page font-bold">Blog</h1>
    </div>
    <div class="user flex -justify-center items-center h-4/5">
      <figure class="w-10 h-10 cursor-pointer" [routerLink]="'./profile'">
        <img src="assets/images/user.avif" alt="" class="w-full h-full rounded-xl">
      </figure>
    </div>
  </nav>