
<form id="form-register" class=" w-[80%] max-w-screen-lg gap-8 p-10 flex-rowb mx-auto">
    <div class="flex w-full mx-auto">
      <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-e-0 border-gray-300 rounded-s-md">
        <img src="assets/icons/email-register.svg" class="w-8 h-8" alt="email de registro">
      </span>
      <input type="email" id="website-admin" class="outline-none block w-[75%] md:w-[80%] lg:w-full rounded-none rounded-e-lg bg-gray-50 border border-gray-300 text-gray-900 text-sm p-4" placeholder="Correo electrónico">
    </div>
    <div class="flex w-full mx-auto">
      <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-e-0 border-gray-300 rounded-s-md">
        <img src="assets/icons/email-register.svg" class="w-8 h-8" alt="email de registro">
      </span>
      <input type="email" id="website-admin" class="outline-none block w-[75%] md:w-[80%] lg:w-full rounded-none rounded-e-lg bg-gray-50 border border-gray-300 text-gray-900 text-sm p-4" placeholder="Confirmar correo electrónico">
    </div>
    <div class="flex w-full mx-auto">
      <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-e-0 border-gray-300 rounded-s-md">
        <img src="assets/icons/email-register.svg" class="w-8 h-8" alt="email de registro">
      </span>
      <input type="email" id="website-admin" class="outline-none block w-[75%] md:w-[80%] lg:w-full rounded-none rounded-e-lg bg-gray-50 border border-gray-300 text-gray-900 text-sm p-4" placeholder="Confirmar correo electrónico">
    </div>
  </form>
  