.section__home {
  height: calc(100vh - 120px);
}
.h4.chat-name.font-semibold.text-lg{ 
  color: white !important;
}
@media screen and (min-width: 640px) {
  .section__home {
    width: calc(100% - 250px);
    height: calc(100vh - 60px);
  }
}
@media screen and (min-width: 1580px) {
  .section-right {
    height: 100%;
  }
}

.messages ul:hover::-webkit-scrollbar {
  width: 8px;
}

.messages ul:hover::-webkit-scrollbar-track {
  background-color: var(--background-body);
  border-radius: 10px;
}

.messages ul:hover::-webkit-scrollbar-thumb {
  background-color: var(--border-theme);
  border-radius: 10px;
}
.card__graphic::-webkit-scrollbar {
  width: 8px;
}

.card__graphic::-webkit-scrollbar-track {
  background-color: var(--background-body);
  border-radius: 10px;
}

.messages::-webkit-scrollbar-thumb {
  background-color: var(--border-theme);
  border-radius: 10px;
}
