<section class="messages w-full h-full overflow-hidden">
    <ul class="list_messages h-full hover:overflow-auto py-2">
        <li class="relative h-16 w-[90%] mx-auto hover_bg px-2 rounded-md">
            <div class="w-full h-full flex justify-center items-center flex-row">
                    <div class="w-[10%] h-full cursor-pointer mx-auto">
                        <figure class="w-24 h-full flex items-center">
                            <img src="../../../../assets/images/yeni.jpeg" alt="" class="w-12 h-12 rounded-full object-cover">
                        </figure>
                    </div>
                    <div class="w-[90%] h-full px-10 cursor-pointer mx-auto flex items-start justify-center flex-col border-b border__theme">
                        <h4 class="chat-name font-semibold text-lg">Yenifer</h4>
                        <h4 class="chat-text text-sm line-clamp-1">Por eso es que me da rabia contigo no respondes nada</h4>
                    </div>
            </div>
        </li>
      
        <li class="relative h-16 w-[90%] mx-auto hover_bg px-2 rounded-md">
            <div class="w-full h-full flex justify-center items-center flex-row">
                    <div class="w-[10%] h-full cursor-pointer mx-auto">
                        <figure class="w-24 h-full flex items-center">
                            <img src="../../../../assets/images/WhatsApp Image 2024-01-25 at 9.19.08 PM.jpeg" alt="" class="w-12 h-12 rounded-full object-cover">
                        </figure>
                    </div>
                    <div class="w-[90%] h-full px-10 cursor-pointer mx-auto flex items-start justify-center flex-col border-b border__theme">
                        <h4 class="chat-name font-semibold text-lg">Alan</h4>
                        <h4 class="chat-text text-sm line-clamp-1">Por eso es que me da rabia contigo no respondes nada</h4>
                    </div>
            </div>
        </li>
        <li class="relative h-16 w-[90%] mx-auto hover_bg px-2 rounded-md">
            <div class="w-full h-full flex justify-center items-center flex-row">
                    <div class="w-[10%] h-full cursor-pointer mx-auto">
                        <figure class="w-24 h-full flex items-center">
                            <img src="../../../../assets/images/logo.png" alt="" class="w-12 h-12 rounded-full object-cover">
                        </figure>
                    </div>
                    <div class="w-[90%] h-full px-10 cursor-pointer mx-auto flex items-start justify-center flex-col border-b border__theme">
                        <h4 class="chat-name font-semibold text-lg">Euclides</h4>
                        <h4 class="chat-text text-sm line-clamp-1">Por eso es que me da rabia contigo no respondes nada</h4>
                    </div>
            </div>
        </li>
        <li class="relative h-16 w-[90%] mx-auto hover_bg px-2 rounded-md">
            <div class="w-full h-full flex justify-center items-center flex-row">
                    <div class="w-[10%] h-full cursor-pointer mx-auto">
                        <figure class="w-24 h-full flex items-center">
                            <img src="../../../../assets/images/user.avif" alt="" class="w-12 h-12 rounded-full object-cover">
                        </figure>
                    </div>
                    <div class="w-[90%] h-full px-10 cursor-pointer mx-auto flex items-start justify-center flex-col border-b border__theme">
                        <h4 class="chat-name font-semibold text-lg">Jon Doe</h4>
                        <h4 class="chat-text text-sm line-clamp-1">Por eso es que me da rabia contigo no respondes nada</h4>
                    </div>
            </div>
        </li>
      
    </ul>
</section>