@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root{
    --background-body: #eee6ee;
}

*{
    margin: 0px;
    box-sizing: border-box;
}
body{
background-color: var(--background-body);
}

@media screen and (min-width:3000px){
 
}