:root{
    /* colors */
    --background-body: rgb(222, 223, 228);

    /* waves */
    --wave-footer: url('./assets/waves/footer-wave.svg')
}

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    background-color: var(--background-body);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
