<section class="h-auto w-full grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-3 gap-4 place-items-center px-4">
    <div class="col-span-1 h-28 w-full p-2 primary__color cursor-pointer flex flex-col justify-start items-start gap-1"[routerLink]="'./language'">
        <i class="fa-solid fa-language text-4xl" style="color: #dcaf09;"></i>
        <h2 class="font-semibold text-lg text__default">Idioma</h2>
    </div>
    <div class="col-span-1 h-28 w-full p-2 primary__color cursor-pointer flex flex-col justify-start items-start gap-1" [routerLink]="'./theme'">
        <i class="fa-solid fa-palette text-4xl" style="color: #00c2bf;"></i>
        <h2 class="font-semibold text-lg text__default">Tema</h2>
    </div>
    <div class="col-span-2 md:col-span-1 h-28 w-full p-2 primary__color cursor-pointer flex flex-col justify-start items-start gap-1"[routerLink]="'./about'">
        <i class="fa-solid fa-address-card text-4xl" style="color: #b200d6;"></i>
        <h2 class="font-semibold text-lg text__default">Información del perfil</h2>
    </div>
    <div class="col-span-2 md:col-span-1 h-28 w-full p-2 primary__color cursor-pointer flex flex-col justify-start items-start gap-1"[routerLink]="'./security'">
        <i class="fa-solid fa-shield-halved text-4xl" style="color: #4200bd;"></i>
        <h2 class="font-semibold text-lg text__default">Seguridad</h2>
    </div>
</section>